asgiref
Django
django-extensions
django-filter
djangorestframework
djangorestframework-jsonapi
inflection
python-dotenv
pytz
sqlparse
tzdata
psycopg2-binary
django-push-notifications
channels
pytest
pytest-django
numpy
pandas
scikit-learn
django-cors-headers 