amqp
APScheduler
asgiref
billiard
celery
certifi
channels
charset-normalizer
ci-info
click
click-didyoumean
click-plugins
click-repl
configobj
configparser
cron-descriptor
dj-database-url
Django
django-apscheduler
django-celery-beat
django-cors-headers
django-environ
django-extensions
django-filter
django-push-notifications
django-timezone-field
djangorestframework
djangorestframework-jsonapi
djangorestframework-simplejwt
etelemetry
filelock
fitz
httplib2
idna
importlib_resources
inflection
iniconfig
isodate
joblib
kombu
looseversion
lxml
networkx
nibabel
nipype
numpy
packaging
pandas
pathlib
pillow
pluggy
prompt_toolkit
prov
psycopg2-binary
puremagic
pydot
PyJWT
PyMuPDF
pyparsing
pytesseract
pytest
pytest-django
python-crontab
python-dateutil
python-dotenv
pytz
pyxnat
rdflib
requests
scikit-learn
django-cors-headers 
dj_database_url
celery
django_celery_beat
django_apscheduler
django-environ
requests
scipy
simplejson
six
sqlparse
threadpoolctl
traits
typing_extensions
tzdata
tzlocal
urllib3
vine
wcwidth

